.grade{
    width: 65vw;
    height: 90vh;
    margin: 5vh 5vw;
    position: relative;
    display: flex;
}

table{
    width: 65vw;
    height: 15vh;
}

thead tr th{
    height: 5vh;
    background-color: #68C3C5;
    color: #fff;
    font-size: 18px;
}

tbody tr td{
    width: 10vw;
    text-align: left;
    background-color: #fff;
    border: 1px solid #676767;
    border-radius: 5px;
}

td p {
    width: 8.5vw;
    height: 2vh;
    margin: 5px 5px 5px 10px; 
}

td p:nth-child(1){
    font-weight: 500;
}

td p:nth-child(2){
    margin: 5px 5px 15px 10px; 
    height: 3vh;
    font-weight: 500;
}

@media only screen and (min-width: 1200px) and (max-width: 1600px){
  
    td p {
        font-size: 10px;
    }

    td p:nth-child(1){
        font-size: 12px;
        font-weight: 500;
        
    }

    td p:nth-child(2){
        height: auto;
        margin: 5px 5px 5px 10px;
        font-size: 12px;
        font-weight: 500;
    }

    td p:nth-child(3){
        margin: 0px 5px 0px 10px;
    }

    td p:nth-child(4){
        margin: 0px 5px 5px 10px;
    }

    td p span {
        font-size: 10px;
    }
}