.funcoes {
    width: 65vw;
    height: 60vh;
    margin: 5vh 5vw;
}

.opcoes {
    width: 65vw;
    height: 5vh;
    display: flex;
}

.volta {
    width: 40.5vw;
    height: 5vh;
}

button {
    width: 200px;
    height: 50px;
    background-color: #38A3A5;
    color: #fff;
    font-size: 18px;
    font-weight: 400;
    border: none;
    border-radius: 5px;
}


.form-matricula {
    margin-top: 5vh;
}

.form-conteudo {
    display: flex;
    width: 65vw;
}

.label-input {
    height: 3vh;
    font-weight: 500;
    font-size: 18px;
}

input {
    height: 4vh;
    border: 1px solid #676767;
    border-radius: 5px;
}

.nome-mensagem {
    height: 10vh;
    width: 65vw;

    .inp-titulo {
        height: 5vh;
        border: 1px solid #676767;
        border-radius: 5px;
        width: 100%;
    }
}

.descricao {
    width: 65vw;

    .inp-desc {
        height: 5vh;
        border: 1px solid #676767;
        border-radius: 5px;
        width: 100%;
        height: 100%;
    }
}

.enviar {
    width: 65vw;
    height: 10vh;
    align-content: right;
}

.btn-enviar {
    width: 200px;
    height: 50px;
    margin-top: 5vh;
    background-color: #38A3A5;
    color: #fff;
    font-weight: bold;
    border: none;
    border-radius: 5px;
}

@media only screen and (min-width: 1200px) and (max-width: 1600px) {
    input {
        height: 5vh;
    }

    .inp-curso {
        height: 10vh;
    }

    .instrucoes {
        width: 25vw;
        height: 72.5vh;
    }

    .form-matricula {
        width: 65vw;
    }

    .form-conteudo {
        height: 12vh;
    }

    .subtitulo {
        padding: 15px 0px;
    }

    .conteudo {
        padding: 12px 0px;
        text-align: left;
    }

    .enviar {
        height: 10vh;
        width: 10vw;
        margin: 10px 0px 0px 0PX;
    }

    .btn-enviar {
        height: 40px;
    }

}